
page-home {
  ion-content{
    background: url("assets/imgs/bg-white3.jpg") no-repeat;
    //background: linear-gradient(to bottom, #ff0000 0%, #ffffff 100%);
    //background-size: cover;
    position: relative;
    padding: 0px;

    &::after{
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(255,255,255,0.3);
      //background: rgba(255,0,0,0.1);
      z-index: 0;
    }

  }

  // ion-header {
    // .header {
      // height: 65px;
      // width: 100%;
    // }
  // }
    // margin-top: 20vh;

  .title {
    color: $uwi-red;
    margin-bottom: 26px;
  }

  ion-card .frame {
    display: flex;
    justify-content: center;
  }
  ion-card-header{ 
    font-weight: 900;
  }

  iframe {
    height: 200px;
    width: 315px;
  }

  button#schedule {
    margin-top: 26px;

    ion-icon {
      margin-left: 20px;
    }
  }

  #fab-text {
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    // border: 1px solid $uwi-red;
    background: $uwi-red;
    color: white;
    padding: 4px 8px;
    display: none;

    &::after {
      content:'';
      display: block;
      position: absolute;
      transform: translateY(-50%) rotate(180deg);
      right: -15px;
      top: 50%;
      
      height: 0;
      width: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 15px solid $uwi-red;
    }
  }

  
  
  // .fixed-content {
    // margin-bottom: 0px !important;
  // }
  .scroll-content {
    margin-bottom: 0px !important;
  }
  
}
